body {
    padding: 0;
    text-align: center;
    background-image: url("../images/5656321.jpg");
    align-items: center;
  }
  
  
  .game-intro {
    
    float: left;
    padding: 0% 10%;
    
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #a7d672;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 10%;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }
  #arrows{

    margin-top: 20%;
  }
  #instructions{
    background-color:  #a7d672;
    padding: 20px 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    color: #fff;
  }